
/* @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;1,700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,400;1,700&display=swap');
:root {
    --primary-color:#065F46;
    --dark-gray:#9CA3AF;
    --light-gray: #F3F4F6;
 
}
body {
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}
.mySlides {display: none}
 img {
     vertical-align: middle;
     width: 1300px;

}
 * {box-sizing: border-box}

hr {
    margin: 2rem 0rem;
}

/* containers */
.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    max-width: 600px;
    margin: right;
}
.container-side {
    max-width: 500px;
    float: right;
}

/* links primary and secondary */
.link {
    text-decoration: none;
    border-radius: 0.5rem;;
    padding: 0.5rem 1rem;
    
}

.link-primary {
    background-color: var(--primary-color);
    color: white;
}

.link-secondary {
    background-color: white;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

/* lists  */
.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

/* navigation */
.navigation {
    color: white;
    padding: 1rem;
    background-color: var(--primary-color);
    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.navigation .nav-brand {
    font-weight: bold;
    font-size: 1.1rem;
}

/**
*if there is a link class inside navigation class then override its color property.
* next level of inheitance 
*/
.navigation .link {
    color: white;
}

.navigation .nav-pills {
    text-align: right;
}
.navigation .link-active {
    font-weight: bold;

}
.lerner-header {
    padding: 5rem 2rem 2rem 2rem;
}

.lerner-img{
  max-width: 350px;
  display: block;
  margin: auto;
}

.lerner-heading {
    color: var(--dark-gray);
    padding-top: 1rem;
    text-align: center;
}
.section {
    padding: 2rem;
}
.section h2{
    text-align: center;
}

.off-white-section {
    background-color: var(--light-gray);
}

.footer {
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    color: white;
    text-align:center;
    border-top-right-radius: 1rem;
    float: none;
}
.footer-header {
    font-weight: bold;
    font-size: large;
}
.footer .link {
    color: white;
}

.footer ul {
    padding-inline-start: 0px;

}


/**  css for projects page***/
.separator {
    padding: 2rem 0rem;
}

/** side section */
.sidesection {
    margin-left: 1rem;
    width: 30%;
    height: 400px;
    border: 2px solid;
    background-color: #064E3B;
    border-radius: 1rem;
    color: whitesmoke;
}
.sidesection-description {
    padding: 1rem;
}
.sidesection-image {
    padding: 1rem;
    width:100%;
}


/** slide show */
/* Slideshow container */
.slideshow-container {
    max-width: 1300px;
    position: relative;
    margin: auto;
    padding-top: 3rem;

  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 60%;
    text-align: center;
  
    }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    margin-bottom: 2rem;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  /* On smaller screens, decrease text size */
  @media only screen and (max-width: 300px) {
    .prev, .next,.text {font-size: 11px}
  }

  /*3in1 section */
  .section-3in1 {
      margin: 2rem 0rem 45rem 0rem;


  }
  .section-left{
      width: 30%;
      height: 605px;
      float: left;
      background-color: red;
      border: 1px solid black;
      padding: 2rem;
      margin-left: 1rem;
      border-radius: 1rem;
    }
.section-left-img {
    width: 300px;
    height: 200px;
}
.section-left-description {
    font-size: 2rem;
    padding-top: 0.5rem;
}

.section-right-top {
        width: 65%;
        height: 300px;
        float: left;
        background-color: green;
        border: 1px solid black;
        margin: 0rem 0.5rem 0.5rem 0.5rem;
        padding-top: 0rem;
        padding-left: 1rem;
        border-radius: 1rem;
        
}
.section-right-top-img {
    padding-top: 0.5rem;
    width: 300px;
    height: 200px;
}